<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-6K060RCY0H"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-6K060RCY0H', {
    'cookie_flags': 'max-age=7200;secure;samesite=none',
    'cookie_domain': 'auto',
    'transport_type': 'beacon',
	'anonymize_ip': true,
    'client_storage': 'none',
	'debug_mode': true  // Remove this in production
  });
</script>
